 html {
  background-image: url("images/background.png");
  background-repeat: none;
  background-size: cover;
 }

 body {
  border: 3px solid #fff;
  width: 90%;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
 }

 header {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-image: linear-gradient(#AE3500, yellow);
  border-radius: 15px 15px 0px 0px;
  overflow: auto;
 }

 header h1 {
  color: black;
  text-align: center;
  -webkit-text-stroke-width: .7px;
  -webkit-text-stroke-color: black;
 }

 #mainMenu {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  border-top: 3px solid #fff;
 }

 #gameMenu {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  border-bottom: 3px solid #fff;
 }


 .menuButton {
  text-align: center;
  font-weight: bold;
  border: 1px solid #000;
  background-image: linear-gradient(red, black);
  color: #fff;
 }

.mk2Select {
  width: 100%;
  height: 20%;
  display: grid;
  grid-template-columns: 8.34% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.34%; 
  grid-template-rows: 135px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(#000, red);
  text-align: center;
  column-gap: auto;
}

.characterButton {
    width: 100%;
    height: 100%;
}

.characterButton:hover {
  border: 4px solid lime;
}

#mk2LiuKang {
  background-image: url("images/mk2/liukang.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#kungLao {
  background-image: url("images/mk2/kunglao.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#johnnyCage {
  background-image: url("images/mk2/johnnycage.png");
  background-repeat: no-repeat;
  background-size: cover;
}
  
#reptile {
  background-image: url("images/mk2/reptile.png");
  background-repeat: no-repeat;
  background-size: cover;
}
  
#subZero {
  background-image: url("images/mk2/subzero.png");
  background-repeat: no-repeat;
  background-size: cover;
}
  
#kitana {
  background-image: url("images/mk2/kitana.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#shangTsung {
  background-image: url("images/mk2/shangtsung.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#jax {
  background-image: url("images/mk2/jax.png");
  background-repeat: no-repeat;
  background-size: cover;
}
  
#mileena {
  background-image: url("images/mk2/mileena.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#baraka {
  background-image: url("images/mk2/baraka.png");
  background-repeat: no-repeat;
  background-size: cover;
}
  
#scorpion {
  background-image: url("images/mk2/scorpion.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#raiden {
  background-image: url("images/mk2/raiden.png");
  background-repeat: no-repeat;
  background-size: cover;
} 

#characterMoves {
    width: auto;
    height: 250px;
    color: #FFF;
    text-align: center;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    display: block;
    padding: 10px 50px 10px 50px;
    border-radius: 0px 0px 15px 15px;
}

#characterMoves h2 {
  color: orange;
}

#characterMoves h3 {
  color: yellow;
}

#moveDisplay {
  display: none;
}